@import "tailwindcss";

:root {
  --font-primary: 'Excon', sans-serif;
  color-scheme: system;
}

* {
    font-family: var(--font-primary) !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Apply Font to Body */
  body {
    font-family: var(--font-primary) !important;
    line-height: 1.6;
  }

  #root{
    min-height: 100vh;
  }